.newsWrap {
	width: 100%;
	background-color: #bebebe;
	border: 1px solid black;
	border-radius: 12px;
	box-shadow: 0px 0px 12px black;
	margin: 10px 15px 0 15px;
	text-align: center;

	h1 {
		font-size: 3.5rem;
		padding: 10px 0 0;
		font-weight: bold;
		text-transform: capitalize;
	}

	h2 {
		font-size: 2rem;
		padding: 5px 0;
		color: blue;
	}

	p {
		font-size: 1.6rem;
		padding: 10px 25px 20px;
	}
}
