html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: #3b3b3b;
}

.appWrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.bodyWrap {
	width: 95%;
	margin: 0 auto;
	min-height: 200px;
	background-color: #00ccff33;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 0px 0px 45px black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 20px;
}

.logo {
	width: 95%;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 45px;

	img {
		object-fit: contain;
	}
}
