html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: #3b3b3b;
}

.logo {
	width: 95%;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 45px;

	img {
		object-fit: contain;
	}
}
