.headWrap {
	width: 100%;
	min-height: 110px;
	border-bottom: 2px solid #cccccc;
	text-align: center;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	z-index: 10;

	.logoWrap {
		width: 9%;
	}

	.headTextWrap {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			color: #0000ff;
			font-size: 6rem;
			text-shadow: white 0px 2px 8px;
		}

		h4 {
			color: #ffff00;
			font-size: 4rem;
		}
	}
}
