.headWrap {
	width: 100%;
	min-height: 110px;
	border-bottom: 2px solid #cccccc;
	box-shadow: white 1px 4px 12px;
	text-align: center;
	padding: 15px 0;

	h1 {
		color: #0000ff;
		font-size: 6rem;
		text-shadow: white 0px 2px 8px;
	}

	h4 {
		color: #ffff00;
		font-size: 4rem;
	}
}
