.navWrap {
	width: 100%;
	flex: 1;

	.navLinks {
		width: 100%;
		background-color: black;
		border-bottom: 2px solid #cccccc;
		margin-bottom: 30px;

		nav {
			ul {
				display: flex;
				justify-content: center;
				padding: 35px 0;

				.link {
					color: white;
					font-size: 3rem;
					text-decoration: none;
					margin: 0 10px;
				}

				.link:hover {
					text-shadow: 0px 4px 12px rgb(252, 95, 55);
				}

				.active {
					text-shadow: 0px 4px 12px yellow;
					text-decoration: underline;
				}
			}
		}
	}
}
